ui/node_modules
ui/dist
ui/.env
ui/.env.local
ui/.env.development.local
ui/.env.test.local
ui/.env.production.local
ui/.env.development
ui/.env.test
ui/.env.production
/gateon
gateon.db
gateon.db-shm
gateon.db-wal
gateon.db-journal
gateon.db-lock
gateon.db-trace
gateon.db-trace-lock
gateon.db-trace-wal
gateon.db-trace-journal
gateon.db-trace-lock
global.json
entrypoints.json
services.json
routes.json
middlewares.json
tls_options.json
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.idea
.vscode
.DS_Store
# internal/ui/dist
.junie
ui/bun.lock
ui/.bun-cache
ui/package-lock.json
gateon.exe
gateon_test.exe
go.sum
proto/gateon/v1/*.go
