.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: var(--mantine-radius-md);
  height: 90px;
  background-color: var(--mantine-color-body);
  transition: all 150ms ease;
  border: 1px solid var(--mantine-color-default-border);
}

.item:hover {
  background-color: var(--mantine-color-default-hover);
  transform: translateY(-2px);
  border-color: var(--mantine-color-brand-filled);
  box-shadow: var(--mantine-shadow-sm);
}
